mat-toolbar {
    height: auto;
    background-color: #e1e6ec;
    padding: 0.75rem 1rem;
  }
  
  .player-assignments-table-wrapper {
    overflow-x: auto;
  }
  
  tr.player-detail-row {
    height: 0;
  }
  
  tr.player-row {
    cursor: pointer;
  }
  
  tr.player-row:not(.expanded-row):hover {
    background: #E1E6EC;
  }
  
  tr.player-row:not(.expanded-row):active {
    background: whitesmoke;
  }
  
  .player-row td {
    border-bottom-width: 0;
  }
  
  .mat-column-expandedDetail {
    padding: 0;
  }
  
  .player-detail-wrapper {
    overflow: hidden;
    max-height: 0;
  }
  
  .player-detail-wrapper-expanded {
    max-height: 999px;
    padding: .5rem 1.5rem;
  }
  
  .answers-table {
    width: 100%;
    table-layout: fixed;
  }
  
  .answers-table th {
   background-color: #f1f3f5;
  }
  
  .answers-table th,
  .answers-table td {
    white-space: normal;
    word-break: break-word;
    overflow-wrap: anywhere;
  }
  
  .answers-table .mat-column-title {
    width: 20%;
  }
  
  .answers-table .mat-column-question {
    width: 30%;
  }
  
  .answers-table .mat-column-answer {
    width: 20%;
  }
  
  .answers-table .mat-column-result {
    width: 15%;
  }
  
  .answers-table .mat-column-submittedAt {
    width: 15%;
  }
  
  .toggle-button {
    transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .toggle-button-expanded {
    transform: rotate(180deg);
  }
  
  @media (max-width: 768px) {
    .answers-table .mat-column-submittedAt,
    .answers-table .mat-column-question {
        display: none;
    }
  }
  