<h2 mat-dialog-title>Invite Players</h2>

<mat-dialog-content>
  <div class="py-2">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Team</mat-label>
      <mat-select [formControl]="teamControl">
        @for (team of teams(); track team.id) {
        <mat-option [value]="team.id">{{ team.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Players</mat-label>
      <mat-chip-grid #chipGrid aria-label="Selected invitees">
        @for(invitee of invitees(); track invitee.email) {
        <mat-chip-row [removable]="true" (removed)="removeInvitee(invitee)">
          <mat-icon matChipAvatar>person</mat-icon>
          <div class="chip-text">
            @if (invitee.fullName) {
            <span class="name">{{ invitee.fullName }}</span>
            }
            <span class="email">{{ invitee.email }}</span>
            @if (invitee.type === 'new') {
            <span class="tag">{{invitee.type}}</span>
            }
          </div>
          <button matChipRemove type="button" aria-label="Remove invitee">
            <mat-icon>close</mat-icon>
          </button>
        </mat-chip-row>
        }
    
        <input #chipInput="matChipInput" [formControl]="inputControl" placeholder="Type a name or email"
          [matChipInputFor]="chipGrid" [matChipInputSeparatorKeyCodes]="separatorKeys"
          (matChipInputTokenEnd)="handleChipInput($event)" [matAutocomplete]="auto" />
      </mat-chip-grid>
    
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="handleOptionSelected($event)">
        @for (user of filteredUsers(); track user.id) {
        <mat-option [value]="user">
          <div class="option-text">
            <span class="me-1">{{ user.fullName }}</span>
            <span class="email">({{ user.email }})</span>
          </div>
        </mat-option>
        <hr class="m-0" />
        }
    
        @if (canAddNewEmail()) {
        <mat-option [value]="inputValue().trim()">
          Add new player: {{ inputValue().trim() }}
        </mat-option>
        }
      </mat-autocomplete>
    
      @if (!filteredUsers().length && !canAddNewEmail()) {
      <mat-hint>
        Start typing to search users or enter a valid email.
      </mat-hint>
      }
    </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button matButton mat-dialog-close>Cancel</button>
  <button
    matButton="filled"
    (click)="submit()"
    [disabled]="!invitees().length || !teamControl.value">
    Send invites
  </button>
</mat-dialog-actions>
